In [1]:
import numpy as np
import pandas as pd
from sklearn.metrics import confusion_matrix
from sklearn.model_selection import train_test_split 
from sklearn.tree import DecisionTreeClassifier
from sklearn.metrics import accuracy_score, f1_score
from sklearn.metrics import classification_report
from collections import Counter
from sklearn.utils import resample
from sklearn import preprocessing

In [2]:
test = pd.read_csv("./additional_files/test.dat", sep= ' ')
movieActors = pd.read_csv("additional_files/movie_actors.dat", sep= '\t',encoding='latin-1')
movieDirectors= pd.read_csv("additional_files/movie_directors.dat", sep= '\t',encoding='latin-1')
movieGenres= pd.read_csv("additional_files/movie_genres.dat", sep= '\t',encoding='latin-1')
movieTags= pd.read_csv("additional_files/movie_tags.dat", sep= '\t',encoding='latin-1')
tags= pd.read_csv("additional_files/tags.dat", sep= '\t',encoding='latin-1')
trnTst= pd.read_csv("additional_files/test.dat", sep= ' ',encoding='latin-1')
train= pd.read_csv("additional_files/train.dat", sep= ' ',encoding='latin-1')
userTaggedMovies= pd.read_csv("additional_files/user_taggedmovies.dat", sep= ' ',encoding='latin-1')

In [ ]:
movieActors

In [ ]:
movieDirectors = movieDirectors.drop(columns=['directorName'])
movieDirectors

In [ ]:
movieActors

In [ ]:
movieActors1 = movieActors.drop(columns=['actorName', 'ranking'])
movieActors1

In [ ]:
tags

In [ ]:
userTaggedMovies

In [3]:
# merge usertag and main train data (userid, movieid)
fintrn = train.merge(userTaggedMovies, on=['userID','movieID'], how ='left')
fintrn

        userID  movieID  rating  tagID
0           75        3     1.0    NaN
1           75       32     4.5    NaN
2           75      110     4.0    NaN
3           75      163     4.0    NaN
4           75      165     4.5    NaN
...        ...      ...     ...    ...
653911   71534    42900     4.0    NaN
653912   71534    44555     4.0    NaN
653913   71534    46578     4.0    NaN
653914   71534    61075     5.0    NaN
653915   71534    62049     4.5    NaN

[653916 rows x 4 columns]

In [4]:
# merge new train and movietags 
fintrn = fintrn.merge(movieTags, on=['movieID','tagID'], how = 'left')
fintrn

        userID  movieID  rating  tagID  tagWeight
0           75        3     1.0    NaN        NaN
1           75       32     4.5    NaN        NaN
2           75      110     4.0    NaN        NaN
3           75      163     4.0    NaN        NaN
4           75      165     4.5    NaN        NaN
...        ...      ...     ...    ...        ...
653911   71534    42900     4.0    NaN        NaN
653912   71534    44555     4.0    NaN        NaN
653913   71534    46578     4.0    NaN        NaN
653914   71534    61075     5.0    NaN        NaN
653915   71534    62049     4.5    NaN        NaN

[653916 rows x 5 columns]

In [5]:
# add genre to new train obtained above
fintrn = fintrn.merge(movieGenres, on='movieID', how = 'left')
fintrn

         userID  movieID  rating  tagID  tagWeight     genre
0            75        3     1.0    NaN        NaN    Comedy
1            75        3     1.0    NaN        NaN   Romance
2            75       32     4.5    NaN        NaN    Sci-Fi
3            75       32     4.5    NaN        NaN  Thriller
4            75      110     4.0    NaN        NaN    Action
...         ...      ...     ...    ...        ...       ...
1712235   71534    46578     4.0    NaN        NaN     Drama
1712236   71534    61075     5.0    NaN        NaN     Drama
1712237   71534    61075     5.0    NaN        NaN   Romance
1712238   71534    62049     4.5    NaN        NaN     Drama
1712239   71534    62049     4.5    NaN        NaN    Sci-Fi

[1712240 rows x 6 columns]

In [6]:
# add director to new train obtained above
fintrn = fintrn.merge(movieDirectors, on='movieID', how = 'left')
fintrn

,userID,movieID,rating,tagID,tagWeight,genre,directorID,directorName
0,75,3,1.0,NaN,NaN,Comedy,donald_petrie,Donald Petrie
1,75,3,1.0,NaN,NaN,Romance,donald_petrie,Donald Petrie
2,75,32,4.5,NaN,NaN,Sci-Fi,siddharth_randeria,Siddharth Randeria
3,75,32,4.5,NaN,NaN,Thriller,siddharth_randeria,Siddharth Randeria
4,75,110,4.0,NaN,NaN,Action,mel_gibson,Mel Gibson
...,...,...,...,...,...,...,...,...
1712235,71534,46578,4.0,NaN,NaN,Drama,1167865-jonathan_dayton,Jonathan Dayton
1712236,71534,61075,5.0,NaN,NaN,Drama,isabel_coixet,Isabel Coixet
1712237,71534,61075,5.0,NaN,NaN,Romance,isabel_coixet,Isabel Coixet
1712238,71534,62049,4.5,NaN,NaN,Drama,michael_radford,Michael Radford
1712239,71534,62049,4.5,NaN,NaN,Sci-Fi,michael_radford,Michael Radford

In [ ]:
fintrn = fintrn.merge(movieActors1, on='movieID', how='left')
fintrn

In [7]:
# minmax scaling of userid and movieid (because very huge numbers)
df = fintrn[['userID','movieID']]
x = df.values #returns a numpy array
min_max_scaler = preprocessing.MinMaxScaler()
x_scaled = min_max_scaler.fit_transform(x)
df = pd.DataFrame(x_scaled)
df.columns=['userID','movieID']
fintrn[['userID','movieID']] = df[['userID','movieID']]

In [8]:
fintrn["movieID"].value_counts()

0.066097    6522
0.005450    4824
0.000000    4765
0.083584    4755
0.045845    4494
            ...
0.994120       1
0.055902       1
0.962062       1
0.077781       1
0.087914       1
Name: movieID, Length: 9936, dtype: int64

In [9]:
# remove tagid because not imp
fintrn = fintrn.drop(columns=['tagID'])

In [10]:
fintrn

,userID,movieID,rating,tagWeight,genre,directorID,directorName
0,0.0,0.000031,1.0,NaN,Comedy,donald_petrie,Donald Petrie
1,0.0,0.000031,1.0,NaN,Romance,donald_petrie,Donald Petrie
2,0.0,0.000476,4.5,NaN,Sci-Fi,siddharth_randeria,Siddharth Randeria
3,0.0,0.000476,4.5,NaN,Thriller,siddharth_randeria,Siddharth Randeria
4,0.0,0.001674,4.0,NaN,Action,mel_gibson,Mel Gibson
...,...,...,...,...,...,...,...
1712235,1.0,0.715117,4.0,NaN,Drama,1167865-jonathan_dayton,Jonathan Dayton
1712236,1.0,0.937696,5.0,NaN,Drama,isabel_coixet,Isabel Coixet
1712237,1.0,0.937696,5.0,NaN,Romance,isabel_coixet,Isabel Coixet
1712238,1.0,0.952650,4.5,NaN,Drama,michael_radford,Michael Radford
1712239,1.0,0.952650,4.5,NaN,Sci-Fi,michael_radford,Michael Radford

In [11]:
# same merges as done for train dataset
finaltest = test.merge(userTaggedMovies, on=['userID','movieID'], how ='left')
finaltest

       userID  movieID  tagID
0          75      653    NaN
1          75     1527    NaN
2          75     3258    NaN
3          75     7007    NaN
4          78       82    NaN
...       ...      ...    ...
72643   71534     2208    NaN
72644   71534     2997    NaN
72645   71534     4306    NaN
72646   71534     7132    NaN
72647   71534    35836    NaN

[72648 rows x 3 columns]

In [12]:
finaltest

       userID  movieID  tagID
0          75      653    NaN
1          75     1527    NaN
2          75     3258    NaN
3          75     7007    NaN
4          78       82    NaN
...       ...      ...    ...
72643   71534     2208    NaN
72644   71534     2997    NaN
72645   71534     4306    NaN
72646   71534     7132    NaN
72647   71534    35836    NaN

[72648 rows x 3 columns]

In [13]:
finaltest = finaltest.merge(movieTags, on=['movieID','tagID'], how = 'left')
finaltest

       userID  movieID  tagID  tagWeight
0          75      653    NaN        NaN
1          75     1527    NaN        NaN
2          75     3258    NaN        NaN
3          75     7007    NaN        NaN
4          78       82    NaN        NaN
...       ...      ...    ...        ...
72643   71534     2208    NaN        NaN
72644   71534     2997    NaN        NaN
72645   71534     4306    NaN        NaN
72646   71534     7132    NaN        NaN
72647   71534    35836    NaN        NaN

[72648 rows x 4 columns]

In [14]:
finaltest = finaltest.merge(movieGenres, on='movieID', how = 'left')
finaltest

        userID  movieID  tagID  tagWeight      genre
0           75      653    NaN        NaN     Action
1           75      653    NaN        NaN  Adventure
2           75      653    NaN        NaN    Fantasy
3           75     1527    NaN        NaN     Action
4           75     1527    NaN        NaN  Adventure
...        ...      ...    ...        ...        ...
189917   71534     7132    NaN        NaN     Comedy
189918   71534     7132    NaN        NaN    Musical
189919   71534     7132    NaN        NaN    Romance
189920   71534    35836    NaN        NaN     Comedy
189921   71534    35836    NaN        NaN    Romance

[189922 rows x 5 columns]

In [15]:
finaltest = finaltest.merge(movieDirectors, on='movieID', how = 'left')
finaltest

        userID  movieID  tagID  tagWeight      genre   directorID directorName
0           75      653    NaN        NaN     Action    rob_cohen    Rob Cohen
1           75      653    NaN        NaN  Adventure    rob_cohen    Rob Cohen
2           75      653    NaN        NaN    Fantasy    rob_cohen    Rob Cohen
3           75     1527    NaN        NaN     Action   luc_besson   Luc Besson
4           75     1527    NaN        NaN  Adventure   luc_besson   Luc Besson
...        ...      ...    ...        ...        ...          ...          ...
189917   71534     7132    NaN        NaN     Comedy     sam_wood     Sam Wood
189918   71534     7132    NaN        NaN    Musical     sam_wood     Sam Wood
189919   71534     7132    NaN        NaN    Romance     sam_wood     Sam Wood
189920   71534    35836    NaN        NaN     Comedy  judd_apatow  Judd Apatow
189921   71534    35836    NaN        NaN    Romance  judd_apatow  Judd Apatow

[189922 rows x 7 columns]

In [ ]:
finaltest = finaltest.merge(movieActors1, on='movieID', how='left')
finaltest

In [16]:
finaltest = finaltest.drop(columns=['tagID', 'directorName'])

In [17]:
finaltest

        userID  movieID  tagWeight      genre   directorID
0           75      653        NaN     Action    rob_cohen
1           75      653        NaN  Adventure    rob_cohen
2           75      653        NaN    Fantasy    rob_cohen
3           75     1527        NaN     Action   luc_besson
4           75     1527        NaN  Adventure   luc_besson
...        ...      ...        ...        ...          ...
189917   71534     7132        NaN     Comedy     sam_wood
189918   71534     7132        NaN    Musical     sam_wood
189919   71534     7132        NaN    Romance     sam_wood
189920   71534    35836        NaN     Comedy  judd_apatow
189921   71534    35836        NaN    Romance  judd_apatow

[189922 rows x 5 columns]

In [18]:
df = finaltest[['userID','movieID']]
x = df.values #returns a numpy array
min_max_scaler = preprocessing.MinMaxScaler()
x_scaled = min_max_scaler.fit_transform(x)
df = pd.DataFrame(x_scaled)
df.columns=['userID','movieID']
finaltest[['userID','movieID']] = df[['userID','movieID']]

In [19]:
finaltest

        userID   movieID  tagWeight      genre   directorID
0          0.0  0.010017        NaN     Action    rob_cohen
1          0.0  0.010017        NaN  Adventure    rob_cohen
2          0.0  0.010017        NaN    Fantasy    rob_cohen
3          0.0  0.023444        NaN     Action   luc_besson
4          0.0  0.023444        NaN  Adventure   luc_besson
...        ...       ...        ...        ...          ...
189917     1.0  0.109556        NaN     Comedy     sam_wood
189918     1.0  0.109556        NaN    Musical     sam_wood
189919     1.0  0.109556        NaN    Romance     sam_wood
189920     1.0  0.550545        NaN     Comedy  judd_apatow
189921     1.0  0.550545        NaN    Romance  judd_apatow

[189922 rows x 5 columns]

In [20]:
fintrn

,userID,movieID,rating,tagWeight,genre,directorID,directorName
0,0.0,0.000031,1.0,NaN,Comedy,donald_petrie,Donald Petrie
1,0.0,0.000031,1.0,NaN,Romance,donald_petrie,Donald Petrie
2,0.0,0.000476,4.5,NaN,Sci-Fi,siddharth_randeria,Siddharth Randeria
3,0.0,0.000476,4.5,NaN,Thriller,siddharth_randeria,Siddharth Randeria
4,0.0,0.001674,4.0,NaN,Action,mel_gibson,Mel Gibson
...,...,...,...,...,...,...,...
1712235,1.0,0.715117,4.0,NaN,Drama,1167865-jonathan_dayton,Jonathan Dayton
1712236,1.0,0.937696,5.0,NaN,Drama,isabel_coixet,Isabel Coixet
1712237,1.0,0.937696,5.0,NaN,Romance,isabel_coixet,Isabel Coixet
1712238,1.0,0.952650,4.5,NaN,Drama,michael_radford,Michael Radford
1712239,1.0,0.952650,4.5,NaN,Sci-Fi,michael_radford,Michael Radford

In [ ]:
# from sklearn.preprocessing import LabelEncoder
# encoder = LabelEncoder()
# fintrn['directorID'] = encoder.fit_transform(fintrn["directorID"])

In [21]:
# convert to categorical data -> genre and director_id
fintrn.genre = pd.Categorical(fintrn.genre)
fintrn['genre'] = fintrn.genre.cat.codes
fintrn.directorID = pd.Categorical(fintrn.directorID)
fintrn['directorID'] = fintrn.directorID.cat.codes

finaltest.genre = pd.Categorical(finaltest.genre)
finaltest['genre'] = finaltest.genre.cat.codes
finaltest.directorID = pd.Categorical(finaltest.directorID)
finaltest['directorID'] = finaltest.directorID.cat.codes

In [25]:
fintrn.actorID = pd.Categorical(fintrn.actorID)
fintrn['actorID'] = fintrn.actorID.cat.codes

finaltest.actorID = pd.Categorical(finaltest.actorID)
finaltest['actorID'] = finaltest.actorID.cat.codes

In [23]:
# fill nan values in tagweight with 0 to remove error
fintrn['tagWeight'] = fintrn['tagWeight'].fillna(0)

In [24]:
finaltest
# same as above cell
finaltest['tagWeight'] = finaltest['tagWeight'].fillna(0)

In [26]:
# normalize directorID and genre because again huge numbers due to categorical conversion
df = finaltest[['directorID','genre']]
x = df.values #returns a numpy array
min_max_scaler = preprocessing.MinMaxScaler()
x_scaled = min_max_scaler.fit_transform(x)
df = pd.DataFrame(x_scaled)
df.columns=['directorID','genre']
finaltest[['directorID','genre']] = df[['directorID','genre']]

df = fintrn[['directorID','genre']]
x = df.values #returns a numpy array
min_max_scaler = preprocessing.MinMaxScaler()
x_scaled = min_max_scaler.fit_transform(x)
df = pd.DataFrame(x_scaled)
df.columns=['directorID','genre']
fintrn[['directorID','genre']] = df[['directorID','genre']]

In [ ]:
# normalize directorID and genre because again huge numbers due to categorical conversion
df = finaltest[['actorID']]
x = df.values #returns a numpy array
min_max_scaler = preprocessing.MinMaxScaler()
x_scaled = min_max_scaler.fit_transform(x)
df = pd.DataFrame(x_scaled)
df.columns=['actorID']
finaltest[['actorID']] = df[['actorID']]

df = fintrn[['actorID']]
x = df.values #returns a numpy array
min_max_scaler = preprocessing.MinMaxScaler()
x_scaled = min_max_scaler.fit_transform(x)
df = pd.DataFrame(x_scaled)
df.columns=['actorID']
fintrn[['actorID']] = df[['actorID']]

In [27]:
# chose random n samples to train and assign to df (since dataset is pretty huge)
df = fintrn.sample(n=100000)

In [28]:
# y_train = rating column in df
y_train = df.values[:,2]
y_train

array([3.5, 4.0, 4.5, ..., 2.5, 4.0, 3.5], dtype=object)

In [30]:
df = df.drop(columns=['directorName'])

In [29]:
# remove rating from df
df = df.drop(columns=['rating'])
X = df
X

,userID,movieID,tagWeight,genre,directorID,directorName
238632,0.139241,0.061813,0.0,0.263158,0.352422,Ethan Coen
1229435,0.704012,0.041040,0.0,0.421053,0.712664,Mike Figgis
293200,0.170839,0.113001,0.0,0.368421,0.708123,Michel Gondry
865405,0.477505,0.084014,0.0,0.368421,0.793391,Rainer Werner Fassbinder
83646,0.052869,0.128339,0.0,0.105263,0.592079,Kelly Asbury
...,...,...,...,...,...,...
268763,0.158818,0.054581,0.0,0.368421,0.888496,Sofia Coppola
810154,0.450860,0.106568,0.0,0.736842,0.804490,Richard Curtis
1062131,0.588855,0.042867,0.0,0.526316,0.132442,Anthony Waller
1509634,0.881415,0.002149,0.0,0.210526,0.714934,Mike Nichols
365692,0.218853,0.128032,0.0,0.894737,0.313320,Don Siegel

In [ ]:
# df = finaltest[['userID','movieID']]
# x = df.values #returns a numpy array
# min_max_scaler = preprocessing.MinMaxScaler()
# x_scaled = min_max_scaler.fit_transform(x)
# df = pd.DataFrame(x_scaled)
# df.columns=['userID','movieID']
# finaltest[['userID','movieID']] = df[['userID','movieID']]

In [33]:
X = df
X

           userID   movieID  tagWeight     genre  directorID
238632   0.139241  0.061813        0.0  0.263158    0.352422
1229435  0.704012  0.041040        0.0  0.421053    0.712664
293200   0.170839  0.113001        0.0  0.368421    0.708123
865405   0.477505  0.084014        0.0  0.368421    0.793391
83646    0.052869  0.128339        0.0  0.105263    0.592079
...           ...       ...        ...       ...         ...
268763   0.158818  0.054581        0.0  0.368421    0.888496
810154   0.450860  0.106568        0.0  0.736842    0.804490
1062131  0.588855  0.042867        0.0  0.526316    0.132442
1509634  0.881415  0.002149        0.0  0.210526    0.714934
365692   0.218853  0.128032        0.0  0.894737    0.313320

[100000 rows x 5 columns]

In [34]:
# train test split
X_train = X.values[:,:]
# y_train = df.values[:,2]
X_test =  finaltest.values[:,:]
y_train

array([3.5, 4.0, 4.5, ..., 2.5, 4.0, 3.5], dtype=object)

In [35]:
X_train.shape

(100000, 5)

In [36]:
X_test.shape

(189922, 5)

In [37]:
type(fintrn)

pandas.core.frame.DataFrame

In [ ]:
fintrn.to_csv('train_dataset_processed.csv', index=False, header=True)

In [ ]:
from sklearn.svm import SVR
regressor = SVR(kernel = 'rbf')
regressor.fit(X_train, y_train)

In [ ]:
from sklearn.linear_model import LinearRegression
regressor = LinearRegression()
regressor.fit(X_train, y_train)

In [ ]:
from sklearn.tree import DecisionTreeRegressor
regressor = DecisionTreeRegressor()
regressor.fit(X_train, y_train)

In [38]:
from sklearn.neighbors import KNeighborsRegressor
regressor = KNeighborsRegressor(n_neighbors=140)
regressor.fit(X_train, y_train)

KNeighborsRegressor(n_neighbors=140)

In [39]:
y_pred = regressor.predict(X_test)

In [40]:
len(y_pred)

189922

In [41]:
y_pred

array([3.3785714285714286, 3.3785714285714286, 3.7357142857142858, ...,
       3.407142857142857, 3.4035714285714285, 3.4785714285714286],
      dtype=object)

In [42]:
finaltest["rating"] = list(y_pred)

In [43]:
finaltest

        userID   movieID  tagWeight     genre  directorID    rating
0          0.0  0.010017        0.0  0.000000    0.814535  3.378571
1          0.0  0.010017        0.0  0.055556    0.814535  3.378571
2          0.0  0.010017        0.0  0.444444    0.814535  3.735714
3          0.0  0.023444        0.0  0.000000    0.631471  3.210714
4          0.0  0.023444        0.0  0.055556    0.631471  3.239286
...        ...       ...        ...       ...         ...       ...
189917     1.0  0.109556        0.0  0.222222    0.859787  3.257143
189918     1.0  0.109556        0.0  0.666667    0.859787  3.560714
189919     1.0  0.109556        0.0  0.777778    0.859787  3.407143
189920     1.0  0.550545        0.0  0.222222    0.567021  3.403571
189921     1.0  0.550545        0.0  0.777778    0.567021  3.478571

[189922 rows x 6 columns]

In [45]:
# finaltest = finaltest.drop(columns=["tagWeight", "genre", "directorID", "actorID"], axis = 1)
finaltest = finaltest.drop(columns=["tagWeight", "genre", "directorID"], axis = 1)

In [46]:
finaltest

        userID   movieID    rating
0          0.0  0.010017  3.378571
1          0.0  0.010017  3.378571
2          0.0  0.010017  3.735714
3          0.0  0.023444  3.210714
4          0.0  0.023444  3.239286
...        ...       ...       ...
189917     1.0  0.109556  3.257143
189918     1.0  0.109556  3.560714
189919     1.0  0.109556  3.407143
189920     1.0  0.550545  3.403571
189921     1.0  0.550545  3.478571

[189922 rows x 3 columns]

In [47]:
# merge had created multiple rows of same userid and movieid due to multiple genres -> merged these rows with the final rating as the mean of all the ratings of that particular movieid and userid
finaltest = finaltest.groupby(['userID', 'movieID']).mean()

In [48]:
pred_list = list(finaltest["rating"])

In [49]:
pred_list

[3.497619047619048,
 3.2726190476190475,
 3.4017857142857144,
 3.458571428571428,
 3.5142857142857142,
 3.5785714285714287,
 3.462142857142857,
 3.4119047619047618,
 3.400892857142857,
 3.532142857142857,
 3.533333333333333,
 3.289285714285714,
 3.5200000000000005,
 3.5464285714285713,
 3.65,
 3.6464285714285714,
 3.3702380952380953,
 3.375,
 3.617857142857143,
 3.3517857142857146,
 3.532142857142857,
 3.5589285714285714,
 3.538095238095238,
 3.426190476190476,
 3.4482142857142857,
 3.3428571428571425,
 3.6375,
 3.6214285714285714,
 3.6589285714285715,
 3.4392857142857145,
 3.3499999999999996,
 3.5741071428571427,
 3.3714285714285714,
 3.4,
 3.2964285714285717,
 3.5232142857142854,
 3.430357142857143,
 3.3642857142857143,
 3.5440476190476193,
 3.617857142857143,
 3.4904761904761905,
 3.426190476190476,
 3.3580357142857142,
 3.4517857142857142,
 3.3380952380952382,
 3.4875000000000003,
 3.366071428571429,
 3.617857142857143,
 3.4169642857142857,
 3.461904761904762,
 3.5690476190476192,
 3.440178571428571,
 3.302380952380952,
 3.5080357142857146,
 3.5214285714285714,
 3.404761904761905,
 3.5410714285714286,
 3.4214285714285717,
 3.560714285714286,
 3.532142857142857,
 3.4440476190476192,
 3.5392857142857146,
 3.4339285714285714,
 3.6535714285714285,
 3.3964285714285714,
 3.507142857142857,
 3.5690476190476192,
 3.483333333333333,
 3.5654761904761902,
 3.5535714285714284,
 3.6142857142857143,
 3.4357142857142855,
 3.5285714285714285,
 3.464285714285714,
 3.4178571428571427,
 3.4357142857142855,
 3.5892857142857144,
 3.5464285714285713,
 3.442857142857143,
 3.317857142857143,
 3.4553571428571432,
 3.742857142857143,
 3.655357142857143,
 3.3714285714285714,
 3.6130952380952386,
 3.455952380952381,
 3.267857142857143,
 3.5,
 3.5035714285714286,
 3.4142857142857146,
 3.4803571428571427,
 3.748809523809524,
 3.2839285714285715,
 3.4383928571428575,
 3.5142857142857142,
 3.5285714285714285,
 3.404464285714286,
 3.41547619047619,
 3.45,
 3.3833333333333333,
 3.4435714285714285,
 3.5910714285714285,
 3.5535714285714284,
 3.5473214285714283,
 3.4714285714285715,
 3.4035714285714285,
 3.373214285714286,
 3.494642857142857,
 3.4607142857142854,
 3.567857142857143,
 3.7285714285714286,
 3.4517857142857142,
 3.273809523809524,
 3.3946428571428573,
 3.4785714285714286,
 3.289285714285714,
 3.433928571428572,
 3.507142857142857,
 3.391666666666666,
 3.410714285714286,
 3.492857142857143,
 3.404761904761905,
 3.2916666666666665,
 3.3839285714285716,
 3.2714285714285714,
 3.576190476190476,
 3.5285714285714285,
 3.3937500000000003,
 3.5151785714285713,
 3.5297619047619047,
 3.4839285714285717,
 3.2971428571428567,
 3.3848214285714286,
 3.494642857142857,
 3.460714285714286,
 3.3794642857142856,
 3.442142857142857,
 3.5535714285714284,
 3.4125,
 3.432142857142857,
 3.757142857142857,
 3.4607142857142854,
 3.344642857142857,
 3.3928571428571432,
 3.5839285714285714,
 3.494047619047619,
 3.430357142857143,
 3.4589285714285714,
 3.3721428571428573,
 3.4535714285714287,
 3.3214285714285716,
 3.3107142857142855,
 3.532142857142857,
 3.3089285714285714,
 3.353571428571428,
 3.507142857142857,
 3.3955357142857143,
 3.357142857142857,
 3.3785714285714286,
 3.380357142857143,
 3.494047619047619,
 3.557142857142857,
 3.3553571428571427,
 3.4654761904761906,
 3.4416666666666664,
 3.396428571428572,
 3.463392857142857,
 3.5160714285714283,
 3.45,
 3.664285714285714,
 3.5508928571428573,
 3.565714285714286,
 3.4095238095238094,
 3.436607142857143,
 3.404464285714286,
 3.314285714285714,
 3.4309523809523808,
 3.692857142857143,
 3.3642857142857148,
 3.5517857142857143,
 3.4,
 3.3952380952380956,
 3.6392857142857142,
 3.5226190476190475,
 3.4892857142857143,
 3.501190476190476,
 3.476785714285714,
 3.383928571428571,
 3.425,
 3.4857142857142858,
 3.38125,
 3.3476190476190477,
 3.353571428571428,
 3.507142857142857,
 3.376190476190476,
 3.230714285714286,
 3.4648809523809523,
 3.5482142857142858,
 3.5116071428571427,
 3.4523809523809526,
 3.467857142857143,
 3.5,
 3.369047619047619,
 3.4517857142857142,
 3.3107142857142855,
 3.513095238095238,
 3.505,
 3.4345238095238098,
 3.3226190476190474,
 3.325,
 3.442857142857143,
 3.664285714285714,
 3.5928571428571425,
 3.544642857142857,
 3.5107142857142857,
 3.419642857142857,
 3.45,
 3.196428571428571,
 3.4095238095238094,
 3.482142857142857,
 3.4035714285714285,
 3.717857142857143,
 3.479761904761905,
 3.275,
 3.353571428571429,
 3.3476190476190477,
 3.4714285714285715,
 3.5345238095238094,
 3.175,
 3.644047619047619,
 3.5410714285714286,
 3.2464285714285714,
 3.4973214285714285,
 3.4092857142857143,
 3.6482142857142854,
 3.5714285714285716,
 3.5250000000000004,
 3.3797619047619047,
 3.4642857142857144,
 3.357142857142857,
 3.382142857142857,
 3.4761904761904763,
 3.532142857142857,
 3.4964285714285714,
 3.494047619047619,
 3.5267857142857144,
 3.4964285714285714,
 3.519642857142857,
 3.2964285714285713,
 3.513095238095238,
 3.435714285714286,
 3.369642857142857,
 3.4011904761904765,
 3.5452380952380955,
 3.394047619047619,
 3.4571428571428573,
 3.432142857142857,
 3.230714285714286,
 3.567857142857143,
 3.3976190476190475,
 3.3814285714285717,
 3.4476190476190474,
 3.445238095238095,
 3.6142857142857143,
 3.4714285714285715,
 3.475,
 3.442857142857143,
 3.5261904761904765,
 3.4880952380952386,
 3.3955357142857143,
 3.444642857142857,
 3.6053571428571427,
 3.55,
 3.5517857142857143,
 3.6035714285714286,
 3.4964285714285714,
 3.5654761904761902,
 3.5464285714285717,
 3.3785714285714286,
 3.4023809523809523,
 3.1535714285714285,
 3.498214285714286,
 3.4107142857142856,
 3.5107142857142857,
 3.4202380952380955,
 3.2928571428571427,
 3.5499999999999994,
 3.567142857142857,
 3.192857142857143,
 3.7392857142857143,
 3.5178571428571432,
 3.48125,
 3.4625,
 3.4205357142857142,
 3.4839285714285717,
 3.4723214285714286,
 3.3017857142857143,
 3.4928571428571433,
 3.5732142857142857,
 3.489285714285714,
 3.4738095238095235,
 3.5928571428571425,
 3.541071428571428,
 3.375,
 3.366071428571429,
 3.269047619047619,
 3.592857142857143,
 3.369047619047619,
 3.3083333333333336,
 3.55,
 3.275,
 3.4964285714285714,
 3.385714285714286,
 3.544642857142857,
 3.5952380952380953,
 3.5833333333333335,
 3.6214285714285714,
 3.623809523809524,
 3.3375,
 3.561904761904762,
 3.682142857142857,
 3.3976190476190475,
 3.3976190476190475,
 3.664285714285714,
 3.4089285714285715,
 3.5719387755102043,
 3.425,
 3.4491071428571427,
 3.657142857142857,
 3.45,
 3.5,
 3.232142857142857,
 3.65,
 3.467857142857143,
 3.65,
 3.3607142857142858,
 3.3630952380952377,
 3.392857142857143,
 3.442857142857143,
 3.473214285714286,
 3.6375,
 3.592857142857143,
 3.375,
 3.520238095238095,
 3.4178571428571427,
 3.3785714285714286,
 3.6154761904761905,
 3.4794642857142857,
 3.5625,
 3.5125,
 3.436607142857143,
 3.367857142857143,
 3.4571428571428573,
 3.425,
 3.457142857142857,
 3.4654761904761906,
 3.1598214285714286,
 3.492857142857143,
 3.4738095238095235,
 3.491071428571429,
 3.469642857142857,
 3.385714285714286,
 3.517857142857143,
 3.4557142857142855,
 3.4571428571428573,
 3.392142857142857,
 3.319642857142857,
 3.379761904761905,
 3.1535714285714285,
 3.5107142857142857,
 3.469642857142857,
 3.5700000000000003,
 3.4276785714285714,
 3.4035714285714285,
 3.3345238095238092,
 3.4383928571428575,
 3.553571428571429,
 3.5,
 3.377678571428571,
 3.4848214285714283,
 3.442857142857143,
 3.646428571428571,
 3.3607142857142858,
 3.5625,
 3.5535714285714284,
 3.5767857142857142,
 3.4571428571428573,
 3.5940476190476187,
 3.4357142857142855,
 3.5535714285714284,
 3.4348214285714285,
 3.430357142857143,
 3.4214285714285713,
 3.5464285714285713,
 3.4335714285714283,
 3.432857142857143,
 3.4642857142857144,
 3.4928571428571424,
 4.004761904761905,
 3.6464285714285714,
 3.35,
 3.4228571428571426,
 3.4767857142857146,
 3.5964285714285715,
 3.895238095238095,
 3.3955357142857143,
 3.5994047619047627,
 3.5473214285714287,
 3.4928571428571424,
 3.447857142857143,
 3.404761904761905,
 3.4276785714285714,
 3.435714285714286,
 3.4714285714285715,
 3.6857142857142855,
 3.269047619047619,
 3.5142857142857142,
 3.3866071428571427,
 3.5374999999999996,
 3.3107142857142855,
 3.482142857142857,
 3.432142857142857,
 3.339285714285714,
 3.539285714285714,
 3.6392857142857142,
 3.5214285714285714,
 3.5714285714285716,
 3.2919642857142857,
 3.5767857142857142,
 3.5785714285714287,
 3.507142857142857,
 3.41547619047619,
 3.2869047619047618,
 3.4160714285714286,
 3.3797619047619047,
 3.4017857142857144,
 3.6214285714285714,
 3.3607142857142858,
 3.3589285714285717,
 3.269047619047619,
 3.4857142857142858,
 3.361904761904762,
 3.4696428571428575,
 3.4803571428571427,
 3.5595238095238098,
 3.657142857142857,
 3.607142857142857,
 3.4035714285714285,
 3.4119047619047627,
 3.330357142857143,
 3.516666666666667,
 3.5749999999999997,
 3.4047619047619047,
 3.5964285714285715,
 3.4654761904761906,
 3.2660714285714287,
 3.3589285714285717,
 3.478571428571428,
 3.425714285714286,
 3.5142857142857142,
 3.5160714285714283,
 3.4955357142857144,
 3.388095238095238,
 3.6357142857142857,
 3.34375,
 3.3901785714285713,
 3.4473214285714286,
 3.392857142857143,
 3.432142857142857,
 3.392857142857143,
 3.6714285714285713,
 3.5309523809523813,
 3.5482142857142858,
 3.641666666666667,
 3.4375,
 3.3511904761904763,
 3.3785714285714286,
 3.5964285714285715,
 3.617857142857143,
 3.4107142857142856,
 3.366071428571429,
 3.617857142857143,
 3.4154761904761908,
 3.467857142857143,
 3.6,
 3.4892857142857148,
 3.382142857142857,
 3.4357142857142855,
 3.5785714285714287,
 3.4348214285714285,
 3.446428571428571,
 3.430357142857143,
 3.485714285714286,
 3.372619047619047,
 3.122619047619048,
 3.4192857142857145,
 3.4544642857142858,
 3.4749999999999996,
 3.4749999999999996,
 3.4017857142857144,
 3.4,
 3.442857142857143,
 3.4482142857142857,
 3.4547619047619045,
 3.4440476190476184,
 3.4625,
 3.4732142857142856,
 3.389285714285714,
 3.4797619047619044,
 3.4267857142857143,
 3.4857142857142858,
 3.4723214285714286,
 3.525,
 3.2660714285714283,
 3.4,
 3.4017857142857144,
 3.469285714285715,
 3.320535714285714,
 3.508928571428571,
 3.4738095238095235,
 3.425,
 3.380952380952381,
 3.5059523809523814,
 3.432857142857143,
 3.330952380952381,
 3.525,
 3.351785714285714,
 3.4544642857142858,
 3.432142857142857,
 3.3910714285714283,
 3.3642857142857143,
 3.388095238095238,
 3.521428571428572,
 3.482142857142857,
 3.4904761904761905,
 3.550892857142857,
 3.3464285714285715,
 3.3607142857142858,
 3.444642857142857,
 3.4035714285714285,
 3.3464285714285715,
 3.539285714285714,
 3.4385714285714286,
 3.5196428571428573,
 3.5464285714285713,
 3.40625,
 3.5428571428571427,
 3.5732142857142857,
 3.429761904761905,
 3.4035714285714285,
 3.5589285714285714,
 3.2607142857142857,
 3.4785714285714286,
 3.45,
 3.505952380952381,
 3.4598214285714284,
 3.482142857142857,
 3.4892857142857143,
 3.592857142857143,
 3.4202380952380955,
 3.423809523809524,
 3.43125,
 3.4776785714285716,
 3.6464285714285714,
 3.4571428571428573,
 3.4821428571428568,
 3.45625,
 3.517857142857143,
 3.675,
 3.1839285714285714,
 3.4988095238095234,
 3.513392857142857,
 3.4803571428571427,
 3.429761904761905,
 3.282142857142857,
 3.446428571428571,
 3.5821428571428573,
 3.5428571428571427,
 3.428571428571429,
 3.4017857142857144,
 3.44375,
 3.392857142857143,
 3.4482142857142857,
 3.5303571428571425,
 3.4223214285714287,
 3.4928571428571424,
 3.3857142857142857,
 3.642857142857143,
 3.567857142857143,
 3.5297619047619047,
 3.4642857142857144,
 3.3988095238095237,
 3.4839285714285713,
 3.5125,
 3.4511904761904764,
 3.4625,
 3.425892857142857,
 3.4654761904761906,
 3.5357142857142856,
 3.4375,
 3.5464285714285713,
 3.505357142857143,
 3.491071428571429,
 3.3857142857142857,
 3.2999999999999994,
 3.5628571428571427,
 3.4571428571428573,
 3.5785714285714283,
 3.3976190476190475,
 3.3059523809523808,
 3.5714285714285716,
 3.5758928571428568,
 3.529761904761905,
 3.4071428571428575,
 3.3598214285714283,
 3.4499999999999997,
 3.3321428571428573,
 3.373214285714286,
 3.25,
 3.4214285714285717,
 3.4598214285714284,
 3.483333333333333,
 3.445238095238095,
 3.483333333333333,
 3.5028571428571427,
 3.3714285714285714,
 3.3660714285714284,
 3.3476190476190477,
 3.5821428571428573,
 3.364285714285714,
 3.582142857142857,
 3.486428571428571,
 3.366071428571429,
 3.382142857142857,
 3.4330357142857144,
 3.533333333333333,
 3.289285714285714,
 3.4794642857142857,
 3.625,
 3.352857142857143,
 3.4726190476190477,
 3.405357142857143,
 3.382142857142857,
 3.315178571428571,
 3.491071428571429,
 3.1535714285714285,
 3.6142857142857143,
 3.4414285714285717,
 3.55,
 3.633928571428571,
 3.4440476190476192,
 3.5285714285714285,
 3.549107142857143,
 3.2,
 3.385714285714286,
 3.3214285714285716,
 3.6357142857142857,
 3.3166666666666664,
 3.4571428571428573,
 3.3857142857142857,
 3.567857142857143,
 3.45625,
 3.3214285714285716,
 3.585714285714286,
 3.532142857142857,
 3.234523809523809,
 3.469642857142857,
 3.611904761904762,
 3.4964285714285714,
 3.3630952380952386,
 3.4839285714285717,
 3.5452380952380955,
 3.5875,
 3.2750000000000004,
 3.317857142857143,
 3.548979591836735,
 3.3392857142857144,
 3.3869047619047623,
 3.492857142857143,
 3.65,
 3.198809523809524,
 3.383928571428571,
 3.642857142857143,
 3.428571428571429,
 3.2964285714285717,
 3.592857142857143,
 3.5035714285714286,
 3.4547619047619045,
 3.5151785714285713,
 3.5119047619047614,
 3.5095238095238095,
 3.55,
 3.5345238095238094,
 3.3303571428571432,
 3.3714285714285714,
 3.5035714285714286,
 3.40952380952381,
 3.5250000000000004,
 3.2892857142857146,
 3.4035714285714285,
 3.3892857142857142,
 3.492857142857143,
 3.4178571428571427,
 3.419642857142857,
 3.517857142857143,
 3.3714285714285714,
 3.424285714285715,
 3.483333333333333,
 3.352678571428571,
 3.408571428571429,
 3.533333333333333,
 3.539285714285714,
 3.432142857142857,
 3.3523809523809525,
 3.3848214285714286,
 3.3273809523809526,
 3.425892857142857,
 3.480952380952381,
 3.6700892857142855,
 3.4523809523809526,
 3.4729591836734692,
 3.419047619047619,
 3.3241071428571427,
 3.3964285714285714,
 3.555357142857143,
 3.5705357142857146,
 3.2464285714285714,
 3.3892857142857142,
 3.336607142857143,
 3.3982142857142854,
 3.358333333333333,
 3.4964285714285714,
 3.361904761904762,
 3.428571428571429,
 3.5857142857142854,
 3.605357142857143,
 3.6125,
 3.5392857142857146,
 3.4333333333333336,
 3.31875,
 3.517857142857143,
 3.4803571428571427,
 3.6166666666666667,
 3.4023809523809523,
 3.480952380952381,
 3.5714285714285716,
 3.4500000000000006,
 3.519047619047619,
 3.4035714285714285,
 3.475,
 3.4196428571428568,
 3.2767857142857144,
 3.4491071428571427,
 3.3857142857142857,
 3.5142857142857142,
 3.6392857142857142,
 3.438392857142857,
 3.3607142857142858,
 3.3625,
 3.427380952380952,
 3.3553571428571427,
 3.5523809523809526,
 3.55,
 3.5642857142857145,
 3.5026785714285715,
 3.6535714285714285,
 3.632142857142857,
 3.5732142857142857,
 3.510714285714286,
 3.4035714285714285,
 3.5392857142857146,
 3.3595238095238096,
 3.3333333333333335,
 3.388392857142857,
 3.4607142857142854,
 3.4571428571428573,
 3.4404761904761902,
 3.585714285714286,
 3.501785714285714,
 3.425,
 3.358333333333333,
 3.273214285714286,
 3.609523809523809,
 3.3035714285714284,
 3.3142857142857145,
 3.5044642857142856,
 3.3904761904761904,
 3.465,
 3.2964285714285713,
 3.4880952380952386,
 3.4226190476190474,
 3.5035714285714286,
 3.564285714285714,
 3.473214285714286,
 3.635714285714286,
 3.585714285714286,
 3.5071428571428576,
 3.6035714285714286,
 3.53125,
 3.4119047619047618,
 3.394047619047619,
 3.4523809523809526,
 3.4392857142857145,
 3.3491071428571426,
 3.4964285714285714,
 3.3607142857142858,
 3.3464285714285715,
 3.3952380952380956,
 3.382142857142857,
 3.418571428571429,
 3.6125,
 3.404761904761905,
 3.517857142857143,
 3.4964285714285714,
 3.2464285714285714,
 3.1940476190476192,
 3.2785714285714285,
 3.5589285714285714,
 3.1642857142857146,
 3.4499999999999997,
 3.4345238095238098,
 3.1910714285714286,
 3.4690476190476187,
 3.5119047619047614,
 3.3982142857142854,
 3.5267857142857144,
 3.383928571428571,
 3.242857142857143,
 3.626785714285714,
 3.4294642857142863,
 3.5196428571428573,
 3.451190476190476,
 3.4785714285714286,
 3.3982142857142854,
 3.498809523809524,
 3.632142857142857,
 3.4017857142857144,
 3.486607142857143,
 3.342857142857143,
 3.558928571428571,
 3.4285714285714284,
 3.367857142857143,
 3.5642857142857145,
 3.5732142857142857,
 3.366071428571429,
 3.430357142857143,
 3.391666666666667,
 3.4380952380952383,
 3.5250000000000004,
 3.4375,
 3.361607142857143,
 3.680357142857143,
 3.4416666666666664,
 3.567857142857143,
 3.6785714285714284,
 3.5154761904761904,
 3.38125,
 3.521428571428572,
 3.402678571428571,
 3.5821428571428573,
 3.438095238095238,
 3.4910714285714284,
 3.4749999999999996,
 3.423809523809524,
 3.4357142857142855,
 3.325,
 3.34375,
 3.3130952380952383,
 3.532142857142857,
 3.373809523809524,
 3.517857142857143,
 3.392857142857143,
 3.521428571428572,
 3.5410714285714286,
 3.5714285714285716,
 3.4404761904761902,
 3.4035714285714285,
 3.507142857142857,
 3.4375,
 3.3482142857142856,
 3.5035714285714286,
 3.492857142857143,
 3.461607142857143,
 3.3321428571428573,
 3.3625,
 3.2869047619047618,
 3.446428571428571,
 3.4803571428571427,
 3.4154761904761908,
 3.5607142857142855,
 3.4375,
 3.532142857142857,
 3.3857142857142857,
 3.4285714285714284,
 3.292857142857143,
 3.7357142857142858,
 3.527857142857143,
 3.3607142857142858,
 3.3321428571428573,
 3.3464285714285715,
 3.501785714285714,
 3.366666666666667,
 3.4214285714285717,
 3.357142857142857,
 3.555357142857143,
 3.4035714285714285,
 3.507142857142857,
 3.4571428571428573,
 3.45,
 3.425,
 3.7285714285714286,
 3.357142857142857,
 3.5071428571428576,
 3.4535714285714287,
 3.4625000000000004,
 3.5285714285714285,
 3.369642857142857,
 3.4392857142857145,
 3.567857142857143,
 3.592857142857143,
 3.405357142857143,
 3.376785714285714,
 3.444642857142857,
 3.5297619047619047,
 3.482142857142857,
 3.399107142857143,
 3.459285714285714,
 3.5660714285714286,
 3.4797619047619044,
 3.4309523809523808,
 3.4,
 3.444642857142857,
 3.542857142857143,
 3.4702380952380953,
 3.3714285714285714,
 3.414285714285714,
 3.5303571428571425,
 3.642857142857143,
 3.4017857142857144,
 3.538095238095238,
 3.3714285714285714,
 3.292857142857143,
 3.6357142857142857,
 3.3285714285714287,
 3.75,
 3.4142857142857146,
 3.429464285714286,
 3.5357142857142856,
 3.4732142857142856,
 3.396428571428572,
 3.6089285714285717,
 3.4991071428571425,
 3.710714285714286,
 3.3125,
 3.3988095238095237,
 3.408333333333333,
 3.6089285714285713,
 3.4023809523809523,
 3.3607142857142858,
 3.289285714285714,
 3.4267857142857143,
 3.320238095238095,
 3.4607142857142854,
 3.164285714285714,
 3.517857142857143,
 3.446428571428571,
 3.48125,
 3.446428571428571,
 3.5443877551020404,
 3.432142857142857,
 3.5267857142857144,
 3.2078571428571427,
 3.3892857142857142,
 3.5964285714285715,
 3.4428571428571426,
 3.373214285714286,
 3.4135714285714287,
 3.2982142857142858,
 3.4178571428571427,
 3.3339285714285714,
 3.345238095238095,
 3.4839285714285713,
 3.325,
 3.3785714285714286,
 3.4035714285714285,
 3.4607142857142854,
 3.3285714285714283,
 3.4529761904761904,
 3.402678571428571,
 3.3910714285714287,
 3.4,
 3.432142857142857,
 3.539285714285714,
 3.35,
 3.3964285714285714,
 3.4535714285714287,
 3.486904761904762,
 3.357142857142857,
 3.466666666666667,
 3.5464285714285713,
 ...]

In [50]:
finaltest["rating"].value_counts()

3.457143    381
3.432143    373
3.496429    356
3.471429    349
3.500000    348
           ...
4.100000      1
4.096825      1
3.361310      1
3.759524      1
3.123810      1
Name: rating, Length: 3924, dtype: int64

In [51]:
pred_list[10]

3.533333333333333

In [52]:
pred_formatted_list = [ round(elem,1) for elem in pred_list ]

In [53]:
pred_formatted_list

[3.5,
 3.3,
 3.4,
 3.5,
 3.5,
 3.6,
 3.5,
 3.4,
 3.4,
 3.5,
 3.5,
 3.3,
 3.5,
 3.5,
 3.6,
 3.6,
 3.4,
 3.4,
 3.6,
 3.4,
 3.5,
 3.6,
 3.5,
 3.4,
 3.4,
 3.3,
 3.6,
 3.6,
 3.7,
 3.4,
 3.3,
 3.6,
 3.4,
 3.4,
 3.3,
 3.5,
 3.4,
 3.4,
 3.5,
 3.6,
 3.5,
 3.4,
 3.4,
 3.5,
 3.3,
 3.5,
 3.4,
 3.6,
 3.4,
 3.5,
 3.6,
 3.4,
 3.3,
 3.5,
 3.5,
 3.4,
 3.5,
 3.4,
 3.6,
 3.5,
 3.4,
 3.5,
 3.4,
 3.7,
 3.4,
 3.5,
 3.6,
 3.5,
 3.6,
 3.6,
 3.6,
 3.4,
 3.5,
 3.5,
 3.4,
 3.4,
 3.6,
 3.5,
 3.4,
 3.3,
 3.5,
 3.7,
 3.7,
 3.4,
 3.6,
 3.5,
 3.3,
 3.5,
 3.5,
 3.4,
 3.5,
 3.7,
 3.3,
 3.4,
 3.5,
 3.5,
 3.4,
 3.4,
 3.5,
 3.4,
 3.4,
 3.6,
 3.6,
 3.5,
 3.5,
 3.4,
 3.4,
 3.5,
 3.5,
 3.6,
 3.7,
 3.5,
 3.3,
 3.4,
 3.5,
 3.3,
 3.4,
 3.5,
 3.4,
 3.4,
 3.5,
 3.4,
 3.3,
 3.4,
 3.3,
 3.6,
 3.5,
 3.4,
 3.5,
 3.5,
 3.5,
 3.3,
 3.4,
 3.5,
 3.5,
 3.4,
 3.4,
 3.6,
 3.4,
 3.4,
 3.8,
 3.5,
 3.3,
 3.4,
 3.6,
 3.5,
 3.4,
 3.5,
 3.4,
 3.5,
 3.3,
 3.3,
 3.5,
 3.3,
 3.4,
 3.5,
 3.4,
 3.4,
 3.4,
 3.4,
 3.5,
 3.6,
 3.4,
 3.5,
 3.4,
 3.4,
 3.5,
 3.5,
 3.5,
 3.7,
 3.6,
 3.6,
 3.4,
 3.4,
 3.4,
 3.3,
 3.4,
 3.7,
 3.4,
 3.6,
 3.4,
 3.4,
 3.6,
 3.5,
 3.5,
 3.5,
 3.5,
 3.4,
 3.4,
 3.5,
 3.4,
 3.3,
 3.4,
 3.5,
 3.4,
 3.2,
 3.5,
 3.5,
 3.5,
 3.5,
 3.5,
 3.5,
 3.4,
 3.5,
 3.3,
 3.5,
 3.5,
 3.4,
 3.3,
 3.3,
 3.4,
 3.7,
 3.6,
 3.5,
 3.5,
 3.4,
 3.5,
 3.2,
 3.4,
 3.5,
 3.4,
 3.7,
 3.5,
 3.3,
 3.4,
 3.3,
 3.5,
 3.5,
 3.2,
 3.6,
 3.5,
 3.2,
 3.5,
 3.4,
 3.6,
 3.6,
 3.5,
 3.4,
 3.5,
 3.4,
 3.4,
 3.5,
 3.5,
 3.5,
 3.5,
 3.5,
 3.5,
 3.5,
 3.3,
 3.5,
 3.4,
 3.4,
 3.4,
 3.5,
 3.4,
 3.5,
 3.4,
 3.2,
 3.6,
 3.4,
 3.4,
 3.4,
 3.4,
 3.6,
 3.5,
 3.5,
 3.4,
 3.5,
 3.5,
 3.4,
 3.4,
 3.6,
 3.5,
 3.6,
 3.6,
 3.5,
 3.6,
 3.5,
 3.4,
 3.4,
 3.2,
 3.5,
 3.4,
 3.5,
 3.4,
 3.3,
 3.5,
 3.6,
 3.2,
 3.7,
 3.5,
 3.5,
 3.5,
 3.4,
 3.5,
 3.5,
 3.3,
 3.5,
 3.6,
 3.5,
 3.5,
 3.6,
 3.5,
 3.4,
 3.4,
 3.3,
 3.6,
 3.4,
 3.3,
 3.5,
 3.3,
 3.5,
 3.4,
 3.5,
 3.6,
 3.6,
 3.6,
 3.6,
 3.3,
 3.6,
 3.7,
 3.4,
 3.4,
 3.7,
 3.4,
 3.6,
 3.4,
 3.4,
 3.7,
 3.5,
 3.5,
 3.2,
 3.6,
 3.5,
 3.6,
 3.4,
 3.4,
 3.4,
 3.4,
 3.5,
 3.6,
 3.6,
 3.4,
 3.5,
 3.4,
 3.4,
 3.6,
 3.5,
 3.6,
 3.5,
 3.4,
 3.4,
 3.5,
 3.4,
 3.5,
 3.5,
 3.2,
 3.5,
 3.5,
 3.5,
 3.5,
 3.4,
 3.5,
 3.5,
 3.5,
 3.4,
 3.3,
 3.4,
 3.2,
 3.5,
 3.5,
 3.6,
 3.4,
 3.4,
 3.3,
 3.4,
 3.6,
 3.5,
 3.4,
 3.5,
 3.4,
 3.6,
 3.4,
 3.6,
 3.6,
 3.6,
 3.5,
 3.6,
 3.4,
 3.6,
 3.4,
 3.4,
 3.4,
 3.5,
 3.4,
 3.4,
 3.5,
 3.5,
 4.0,
 3.6,
 3.4,
 3.4,
 3.5,
 3.6,
 3.9,
 3.4,
 3.6,
 3.5,
 3.5,
 3.4,
 3.4,
 3.4,
 3.4,
 3.5,
 3.7,
 3.3,
 3.5,
 3.4,
 3.5,
 3.3,
 3.5,
 3.4,
 3.3,
 3.5,
 3.6,
 3.5,
 3.6,
 3.3,
 3.6,
 3.6,
 3.5,
 3.4,
 3.3,
 3.4,
 3.4,
 3.4,
 3.6,
 3.4,
 3.4,
 3.3,
 3.5,
 3.4,
 3.5,
 3.5,
 3.6,
 3.7,
 3.6,
 3.4,
 3.4,
 3.3,
 3.5,
 3.6,
 3.4,
 3.6,
 3.5,
 3.3,
 3.4,
 3.5,
 3.4,
 3.5,
 3.5,
 3.5,
 3.4,
 3.6,
 3.3,
 3.4,
 3.4,
 3.4,
 3.4,
 3.4,
 3.7,
 3.5,
 3.5,
 3.6,
 3.4,
 3.4,
 3.4,
 3.6,
 3.6,
 3.4,
 3.4,
 3.6,
 3.4,
 3.5,
 3.6,
 3.5,
 3.4,
 3.4,
 3.6,
 3.4,
 3.4,
 3.4,
 3.5,
 3.4,
 3.1,
 3.4,
 3.5,
 3.5,
 3.5,
 3.4,
 3.4,
 3.4,
 3.4,
 3.5,
 3.4,
 3.5,
 3.5,
 3.4,
 3.5,
 3.4,
 3.5,
 3.5,
 3.5,
 3.3,
 3.4,
 3.4,
 3.5,
 3.3,
 3.5,
 3.5,
 3.4,
 3.4,
 3.5,
 3.4,
 3.3,
 3.5,
 3.4,
 3.5,
 3.4,
 3.4,
 3.4,
 3.4,
 3.5,
 3.5,
 3.5,
 3.6,
 3.3,
 3.4,
 3.4,
 3.4,
 3.3,
 3.5,
 3.4,
 3.5,
 3.5,
 3.4,
 3.5,
 3.6,
 3.4,
 3.4,
 3.6,
 3.3,
 3.5,
 3.5,
 3.5,
 3.5,
 3.5,
 3.5,
 3.6,
 3.4,
 3.4,
 3.4,
 3.5,
 3.6,
 3.5,
 3.5,
 3.5,
 3.5,
 3.7,
 3.2,
 3.5,
 3.5,
 3.5,
 3.4,
 3.3,
 3.4,
 3.6,
 3.5,
 3.4,
 3.4,
 3.4,
 3.4,
 3.4,
 3.5,
 3.4,
 3.5,
 3.4,
 3.6,
 3.6,
 3.5,
 3.5,
 3.4,
 3.5,
 3.5,
 3.5,
 3.5,
 3.4,
 3.5,
 3.5,
 3.4,
 3.5,
 3.5,
 3.5,
 3.4,
 3.3,
 3.6,
 3.5,
 3.6,
 3.4,
 3.3,
 3.6,
 3.6,
 3.5,
 3.4,
 3.4,
 3.4,
 3.3,
 3.4,
 3.2,
 3.4,
 3.5,
 3.5,
 3.4,
 3.5,
 3.5,
 3.4,
 3.4,
 3.3,
 3.6,
 3.4,
 3.6,
 3.5,
 3.4,
 3.4,
 3.4,
 3.5,
 3.3,
 3.5,
 3.6,
 3.4,
 3.5,
 3.4,
 3.4,
 3.3,
 3.5,
 3.2,
 3.6,
 3.4,
 3.5,
 3.6,
 3.4,
 3.5,
 3.5,
 3.2,
 3.4,
 3.3,
 3.6,
 3.3,
 3.5,
 3.4,
 3.6,
 3.5,
 3.3,
 3.6,
 3.5,
 3.2,
 3.5,
 3.6,
 3.5,
 3.4,
 3.5,
 3.5,
 3.6,
 3.3,
 3.3,
 3.5,
 3.3,
 3.4,
 3.5,
 3.6,
 3.2,
 3.4,
 3.6,
 3.4,
 3.3,
 3.6,
 3.5,
 3.5,
 3.5,
 3.5,
 3.5,
 3.5,
 3.5,
 3.3,
 3.4,
 3.5,
 3.4,
 3.5,
 3.3,
 3.4,
 3.4,
 3.5,
 3.4,
 3.4,
 3.5,
 3.4,
 3.4,
 3.5,
 3.4,
 3.4,
 3.5,
 3.5,
 3.4,
 3.4,
 3.4,
 3.3,
 3.4,
 3.5,
 3.7,
 3.5,
 3.5,
 3.4,
 3.3,
 3.4,
 3.6,
 3.6,
 3.2,
 3.4,
 3.3,
 3.4,
 3.4,
 3.5,
 3.4,
 3.4,
 3.6,
 3.6,
 3.6,
 3.5,
 3.4,
 3.3,
 3.5,
 3.5,
 3.6,
 3.4,
 3.5,
 3.6,
 3.5,
 3.5,
 3.4,
 3.5,
 3.4,
 3.3,
 3.4,
 3.4,
 3.5,
 3.6,
 3.4,
 3.4,
 3.4,
 3.4,
 3.4,
 3.6,
 3.5,
 3.6,
 3.5,
 3.7,
 3.6,
 3.6,
 3.5,
 3.4,
 3.5,
 3.4,
 3.3,
 3.4,
 3.5,
 3.5,
 3.4,
 3.6,
 3.5,
 3.4,
 3.4,
 3.3,
 3.6,
 3.3,
 3.3,
 3.5,
 3.4,
 3.5,
 3.3,
 3.5,
 3.4,
 3.5,
 3.6,
 3.5,
 3.6,
 3.6,
 3.5,
 3.6,
 3.5,
 3.4,
 3.4,
 3.5,
 3.4,
 3.3,
 3.5,
 3.4,
 3.3,
 3.4,
 3.4,
 3.4,
 3.6,
 3.4,
 3.5,
 3.5,
 3.2,
 3.2,
 3.3,
 3.6,
 3.2,
 3.4,
 3.4,
 3.2,
 3.5,
 3.5,
 3.4,
 3.5,
 3.4,
 3.2,
 3.6,
 3.4,
 3.5,
 3.5,
 3.5,
 3.4,
 3.5,
 3.6,
 3.4,
 3.5,
 3.3,
 3.6,
 3.4,
 3.4,
 3.6,
 3.6,
 3.4,
 3.4,
 3.4,
 3.4,
 3.5,
 3.4,
 3.4,
 3.7,
 3.4,
 3.6,
 3.7,
 3.5,
 3.4,
 3.5,
 3.4,
 3.6,
 3.4,
 3.5,
 3.5,
 3.4,
 3.4,
 3.3,
 3.3,
 3.3,
 3.5,
 3.4,
 3.5,
 3.4,
 3.5,
 3.5,
 3.6,
 3.4,
 3.4,
 3.5,
 3.4,
 3.3,
 3.5,
 3.5,
 3.5,
 3.3,
 3.4,
 3.3,
 3.4,
 3.5,
 3.4,
 3.6,
 3.4,
 3.5,
 3.4,
 3.4,
 3.3,
 3.7,
 3.5,
 3.4,
 3.3,
 3.3,
 3.5,
 3.4,
 3.4,
 3.4,
 3.6,
 3.4,
 3.5,
 3.5,
 3.5,
 3.4,
 3.7,
 3.4,
 3.5,
 3.5,
 3.5,
 3.5,
 3.4,
 3.4,
 3.6,
 3.6,
 3.4,
 3.4,
 3.4,
 3.5,
 3.5,
 3.4,
 3.5,
 3.6,
 3.5,
 3.4,
 3.4,
 3.4,
 3.5,
 3.5,
 3.4,
 3.4,
 3.5,
 3.6,
 3.4,
 3.5,
 3.4,
 3.3,
 3.6,
 3.3,
 3.8,
 3.4,
 3.4,
 3.5,
 3.5,
 3.4,
 3.6,
 3.5,
 3.7,
 3.3,
 3.4,
 3.4,
 3.6,
 3.4,
 3.4,
 3.3,
 3.4,
 3.3,
 3.5,
 3.2,
 3.5,
 3.4,
 3.5,
 3.4,
 3.5,
 3.4,
 3.5,
 3.2,
 3.4,
 3.6,
 3.4,
 3.4,
 3.4,
 3.3,
 3.4,
 3.3,
 3.3,
 3.5,
 3.3,
 3.4,
 3.4,
 3.5,
 3.3,
 3.5,
 3.4,
 3.4,
 3.4,
 3.4,
 3.5,
 3.4,
 3.4,
 3.5,
 3.5,
 3.4,
 3.5,
 3.5,
 ...]

In [54]:
len(pred_formatted_list)

71299

In [55]:
pred_df = pd.DataFrame(pred_formatted_list,columns=['Column_Name'])
pred_df

       Column_Name
0              3.5
1              3.3
2              3.4
3              3.5
4              3.5
...            ...
71294          3.5
71295          3.5
71296          3.5
71297          3.4
71298          3.4

[71299 rows x 1 columns]

In [56]:
pred_df['Column_Name'].value_counts(sort=False)

3.5    21940
4.3       18
3.3    10046
3.0       94
3.1      521
3.6    10238
4.0      181
4.2       91
3.4    21360
4.1      127
3.9      336
3.7     2639
3.2     3045
3.8      644
2.9       19
Name: Column_Name, dtype: int64

In [57]:
with open('pred_values_actor.txt', 'w') as filehandle:
    for listitem in pred_formatted_list:
        filehandle.write('%s\n' % listitem)