In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
test_data = pd.read_csv("1603123227_7751071_test_file.dat", delim_whitespace=True)
test_data

       userID  movieID
0          75      653
1          75     1527
2          75     3258
3          75     7007
4          78       82
...       ...      ...
71294   71534     2208
71295   71534     2997
71296   71534     4306
71297   71534     7132
71298   71534    35836

[71299 rows x 2 columns]

In [10]:
test = pd.read_csv("./additional_files/test.dat", sep= ' ')
movieActors = pd.read_csv("additional_files/movie_actors.dat", sep= '\t',encoding='latin-1')
movieDirectors= pd.read_csv("additional_files/movie_directors.dat", sep= '\t',encoding='latin-1')
movieGenres= pd.read_csv("additional_files/movie_genres.dat", sep= '\t',encoding='latin-1')
movieTags= pd.read_csv("additional_files/movie_tags.dat", sep= '\t',encoding='latin-1')
tags= pd.read_csv("additional_files/tags.dat", sep= '\t',encoding='latin-1')
trnTst= pd.read_csv("additional_files/test.dat", sep= ' ',encoding='latin-1')
trn= pd.read_csv("additional_files/train.dat", sep= ' ',encoding='latin-1')
userTaggedMovies= pd.read_csv("additional_files/user_taggedmovies.dat", sep= ' ',encoding='latin-1')

In [ ]:
movieActors.isna().sum()
df = movieActors

In [19]:
df1 = df[df.isna().any(axis=1)]

movieID      0
actorID      0
actorName    5
ranking      0
dtype: int64

In [12]:
trn1 = trn.groupby(['userID'])
trn1.first()

        movieID  rating
userID
75            3     1.0
78           29     4.5
127        1911     2.5
170           1     3.0
175           6     5.0
...         ...     ...
71497         2     3.5
71509         1     4.0
71525        50     5.0
71529         3     2.0
71534         6     4.0

[2113 rows x 2 columns]