In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [78]:
data = pd.read_csv("1601384279_9602122_iris_new_data.txt", sep=' ', names=['sepal_len','sepal_wid','petal_len','petal_wid'])
data

     sepal_len  sepal_wid  petal_len  petal_wid
0          5.7        4.4        1.5        0.4
1          5.5        4.2        1.4        0.2
2          5.2        4.1        1.5        0.1
3          5.8        4.0        1.2        0.2
4          5.4        3.9        1.7        0.4
..         ...        ...        ...        ...
145        4.5        2.3        1.3        0.3
146        6.0        2.2        5.0        1.5
147        6.2        2.2        4.5        1.5
148        6.0        2.2        4.0        1.0
149        5.0        2.0        3.5        1.0

[150 rows x 4 columns]

In [79]:
data.isnull().sum()

sepal_len    0
sepal_wid    0
petal_len    0
petal_wid    0
dtype: int64

In [81]:
# normalization

def normalize(df):
    result = df.copy()
    for feature_name in df.columns:
        max_value = df[feature_name].max()
        min_value = df[feature_name].min()
        result[feature_name] = (df[feature_name] - min_value) / (max_value - min_value)
    return result

In [82]:
data = normalize(data)
data

     sepal_len  sepal_wid  petal_len  petal_wid
0     0.388889   1.000000   0.084746   0.125000
1     0.333333   0.916667   0.067797   0.041667
2     0.250000   0.875000   0.084746   0.000000
3     0.416667   0.833333   0.033898   0.041667
4     0.305556   0.791667   0.118644   0.125000
..         ...        ...        ...        ...
145   0.055556   0.125000   0.050847   0.083333
146   0.472222   0.083333   0.677966   0.583333
147   0.527778   0.083333   0.593220   0.583333
148   0.472222   0.083333   0.508475   0.375000
149   0.194444   0.000000   0.423729   0.375000

[150 rows x 4 columns]

In [96]:
from sklearn.cluster import KMeans
model = KMeans(n_clusters=3, random_state=101, algorithm='full')
ans = model.fit_predict(data)
print(ans)

[1 1 1 1 1 1 2 2 1 1 1 1 1 1 1 2 1 1 1 1 1 1 1 1 2 2 0 1 1 1 1 1 1 1 1 1 2
 2 2 0 1 1 2 2 2 2 2 0 2 0 1 1 1 1 1 2 2 2 2 2 0 0 1 1 1 1 1 2 2 2 2 2 2 2
 2 2 0 2 0 0 0 0 0 0 0 0 0 1 1 1 1 1 1 2 2 0 0 0 0 0 0 0 1 2 2 2 2 2 0 0 0
 0 0 0 0 0 0 2 0 0 0 0 0 0 0 0 2 0 0 0 0 2 0 0 0 0 0 0 0 0 0 0 0 0 0 1 0 0
 0 0]

In [97]:
model.inertia_

6.998114004826758

In [98]:
# to adjust the label size
ans = ans + 1

In [99]:
ans

array([2, 2, 2, 2, 2, 2, 3, 3, 2, 2, 2, 2, 2, 2, 2, 3, 2, 2, 2, 2, 2, 2,
       2, 2, 3, 3, 1, 2, 2, 2, 2, 2, 2, 2, 2, 2, 3, 3, 3, 1, 2, 2, 3, 3,
       3, 3, 3, 1, 3, 1, 2, 2, 2, 2, 2, 3, 3, 3, 3, 3, 1, 1, 2, 2, 2, 2,
       2, 3, 3, 3, 3, 3, 3, 3, 3, 3, 1, 3, 1, 1, 1, 1, 1, 1, 1, 1, 1, 2,
       2, 2, 2, 2, 2, 3, 3, 1, 1, 1, 1, 1, 1, 1, 2, 3, 3, 3, 3, 3, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 3, 1, 1, 1, 1, 1, 1, 1, 1, 3, 1, 1, 1, 1, 3,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 2, 1, 1, 1, 1], dtype=int32)

In [87]:
len(ans)

150

In [88]:
with open('iris_pred_values.txt', 'w') as filehandle:
    for listitem in ans:
        filehandle.write('%s\n' % listitem)
    print("Wrote",len(ans),"items successfully to iris_pred_values.txt")

Wrote 150 items successfully to iris_pred_values.txt